In [1]:
import pandas as pd 
import numpy as np

In [6]:
first = pd.read_csv("Revenue Chart.csv")
second = pd.read_csv("Revenue Chart-1.csv")
second

,Adjusted for Inflation Title,Adjusted for Inflation Notes,Year Date,Format Value # (Billion),Format Value # (Million),Adjusted for Inflation Flag,Total Value For Year,Value (For Charting),Format,Metric,Number of Records,Year,Value (Actual),Total Value # (Billion),Total Value # (Million),Year (copy)
0,NaN,NaN,1983,NaN,$17.2M,NaN,$374490.0B,17.200000,CD,Value,1,1983,17.200000,$374.5B,NaN,1983
1,NaN,NaN,1984,NaN,$103.3M,NaN,$374490.0B,103.300000,CD,Value,1,1984,103.300000,$374.5B,NaN,1984
2,NaN,NaN,1985,NaN,$389.5M,NaN,$374490.0B,389.500000,CD,Value,1,1985,389.500000,$374.5B,NaN,1985
3,NaN,NaN,1986,NaN,$930.1M,NaN,$374490.0B,930.100000,CD,Value,1,1986,930.100000,$374.5B,NaN,1986
4,NaN,NaN,1987,$1.6B,NaN,NaN,$374490.0B,1593.600000,CD,Value,1,1987,1593.600000,$374.5B,NaN,1987
5,NaN,NaN,1988,$2.1B,NaN,NaN,$374490.0B,2089.900000,CD,Value,1,1988,2089.900000,$374.5B,NaN,1988
6,NaN,NaN,1989,$2.6B,NaN,NaN,$374490.0B,2587.700000,CD,Value,1,1989,2587.700000,$374.5B,NaN,1989
7,NaN,NaN,1990,$3.5B,NaN,NaN,$374490.0B,3451.600000,CD,Value,1,1990,3451.600000,$374.5B,NaN,1990
8,NaN,NaN,1991,$4.3B,NaN,NaN,$374490.0B,4337.700000,CD,Value,1,1991,4337.700000,$374.5B,NaN,1991
9,NaN,NaN,1992,$5.3B,NaN,NaN,$374490.0B,5326.500000,CD,Value,1,1992,5326.500000,$374.5B,NaN,1992
10,NaN,NaN,1993,$6.5B,NaN,NaN,$374490.0B,6511.400000,CD,Value,1,1993,6511.400000,$374.5B,NaN,1993
11,NaN,NaN,1994,$8.5B,NaN,NaN,$374490.0B,8464.500000,CD,Value,1,1994,8464.500000,$374.5B,NaN,1994
12,NaN,NaN,1995,$9.4B,NaN,NaN,$374490.0B,9377.400000,CD,Value,1,1995,9377.400000,$374.5B,NaN,1995
13,NaN,NaN,1996,$9.9B,NaN,NaN,$374490.0B,9934.700000,CD,Value,1,1996,9934.700000,$374.5B,NaN,1996
14,NaN,NaN,1997,$9.9B,NaN,NaN,$374490.0B,9915.100000,CD,Value,1,1997,9915.100000,$374.5B,NaN,1997
15,NaN,NaN,1998,$11.4B,NaN,NaN,$374490.0B,11416.000000,CD,Value,1,1998,11416.000000,$374.5B,NaN,1998
16,NaN,NaN,1999,$12.8B,NaN,NaN,$374490.0B,12816.300000,CD,Value,1,1999,12816.300000,$374.5B,NaN,1999
17,NaN,NaN,2000,$13.2B,NaN,NaN,$374490.0B,13214.500000,CD,Value,1,2000,13214.500000,$374.5B,NaN,2000
18,NaN,NaN,2001,$12.9B,NaN,NaN,$374490.0B,12909.400000,CD,Value,1,2001,12909.400000,$374.5B,NaN,2001
19,NaN,NaN,2002,$12.0B,NaN,NaN,$374490.0B,12044.100000,CD,Value,1,2002,12044.100000,$374.5B,NaN,2002
20,NaN,NaN,2003,$11.2B,NaN,NaN,$374490.0B,11232.900000,CD,Value,1,2003,11232.900000,$374.5B,NaN,2003
21,NaN,NaN,2004,$11.4B,NaN,NaN,$374490.0B,11446.500000,CD,Value,1,2004,11446.500000,$374.5B,NaN,2004
22,NaN,NaN,2005,$10.5B,NaN,NaN,$374490.0B,10520.200000,CD,Value,1,2005,10520.200000,$374.5B,NaN,2005
23,NaN,NaN,2006,$9.4B,NaN,NaN,$374490.0B,9372.600000,CD,Value,1,2006,9372.600000,$374.5B,NaN,2006
24,NaN,NaN,2007,$7.5B,NaN,NaN,$374490.0B,7452.300000,CD,Value,1,2007,7452.300000,$374.5B,NaN,2007
25,NaN,NaN,2008,$5.5B,NaN,NaN,$374490.0B,5471.300000,CD,Value,1,2008,5471.300000,$374.5B,NaN,2008
26,NaN,NaN,2009,$4.3B,NaN,NaN,$374490.0B,4318.800000,CD,Value,1,2009,4318.800000,$374.5B,NaN,2009
27,NaN,NaN,2010,$3.4B,NaN,NaN,$374490.0B,3389.400000,CD,Value,1,2010,3389.400000,$374.5B,NaN,2010
28,NaN,NaN,2011,$3.1B,NaN,NaN,$374490.0B,3100.700000,CD,Value,1,2011,3100.700000,$374.5B,NaN,2011
29,NaN,NaN,2012,$2.5B,NaN,NaN,$374490.0B,2485.614699,CD,Value,1,2012,2485.614699,$374.5B,NaN,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403,NaN,NaN,1990,NaN,$94.4M,NaN,$374490.0B,94.400000,Vinyl Single,Value,1,1990,94.400000,$374.5B,NaN,1990
404,NaN,NaN,1991,NaN,$63.9M,NaN,$374490.0B,63.900000,Vinyl Single,Value,1,1991,63.900000,$374.5B,NaN,1991
405,NaN,NaN,1992,NaN,$66.4M,NaN,$374490.0B,66.400000,Vinyl Single,Value,1,1992,66.400000,$374.5B,NaN,1992
406,NaN,NaN,1993,NaN,$51.2M,NaN,$374490.0B,51.200000,Vinyl Single,Value,1,1993,51.200000,$374.5B,NaN,1993
407,NaN,NaN,1994,NaN,$47.2M,NaN,$374490.0B,47.200000,Vinyl Single,Value,1,1994,47.200000,$374.5B,NaN,1994
408,NaN,NaN,1995,NaN,$46.7M,NaN,$374490.0B,46.700000,Vinyl Single,Value,1,1995,46.700000,$374.5B,NaN,1995
409,NaN,NaN,1996,NaN,$47.5M,NaN,$374490.0B,47.500000,Vinyl Single,Value,1,1996,47.500000,$374.5B,NaN,1996
410,NaN,NaN,1997,NaN,$35.6M,NaN,$374490.0B,35.600000,Vinyl Single,Value,1,1997,35.600000,$374.5B,NaN,1997
411,NaN,NaN,1998,NaN,$25.7M,NaN,$374490.0B,25.700000,Vinyl Single,Value,1,1998,25.700000,$374.5B,NaN,1998
412,NaN,NaN,1999,NaN,$27.9M,NaN,$374490.0B,27.900000,Vinyl Single,Value,1,1999,27.900000,$374.5B,NaN,1999
413,NaN,NaN,2000,NaN,$26.3M,NaN,$374490.0B,26.300000,Vinyl Single,Value,1,2000,26.300000,$374.5B,NaN,2000
414,NaN,NaN,2001,NaN,$31.4M,NaN,$374490.0B,31.400000,Vinyl Single,Value,1,2001,31.400000,$374.5B,NaN,2001
415,NaN,NaN,2002,NaN,$24.9M,NaN,$374490.0B,24.900000,Vinyl Single,Value,1,2002,24.900000,$374.5B,NaN,2002
416,NaN,NaN,2003,NaN,$21.5M,NaN,$374490.0B,21.500000,Vinyl Single,Value,1,2003,21.500000,$374.5B,NaN,2003
417,NaN,NaN,2004,NaN,$19.9M,NaN,$374490.0B,19.900000,Vinyl Single,Value,1,2004,19.900000,$374.5B,NaN,2004
418,NaN,NaN,2005,NaN,$13.2M,NaN,$374490.0B,13.200000,Vinyl Single,Value,1,2005,13.200000,$374.5B,NaN,2005
419,NaN,NaN,2006,NaN,$9.9M,NaN,$374490.0B,9.900000,Vinyl Single,Value,1,2006,9.900000,$374.5B,NaN,2006
420,NaN,NaN,2007,NaN,$4.0M,NaN,$374490.0B,4.000000,Vinyl Single,Value,1,2007,4.000000,$374.5B,NaN,2007
421,NaN,NaN,2008,NaN,$2.9M,NaN,$374490.0B,2.900000,Vinyl Single,Value,1,2008,2.900000,$374.5B,NaN,2008
422,NaN,NaN,2009,NaN,$2.5M,NaN,$374490.0B,2.500000,Vinyl Single,Value,1,2009,2.500000,$374.5B,NaN,2009
423,NaN,NaN,2010,NaN,$2.3M,NaN,$374490.0B,2.300000,Vinyl Single,Value,1,2010,2.300000,$374.5B,NaN,2010
424,NaN,NaN,2011,NaN,$4.6M,NaN,$374490.0B,4.600000,Vinyl Single,Value,1,2011,4.600000,$374.5B,NaN,2011
425,NaN,NaN,2012,NaN,$4.7M,NaN,$374490.0B,4.743056,Vinyl Single,Value,1,2012,4.743056,$374.5B,NaN,2012
426,NaN,NaN,2013,NaN,$3.0M,NaN,$374490.0B,2.978937,Vinyl Single,Value,1,2013,2.978937,$374.5B,NaN,2013
427,NaN,NaN,2014,NaN,$5.5M,NaN,$374490.0B,5.499354,Vinyl Single,Value,1,2014,5.499354,$374.5B,NaN,2014
428,NaN,NaN,2015,NaN,$5.8M,NaN,$374490.0B,5.752954,Vinyl Single,Value,1,2015,5.752954,$374.5B,NaN,2015
429,NaN,NaN,2016,NaN,$4.9M,NaN,$374490.0B,4.880680,Vinyl Single,Value,1,2016,4.880680,$374.5B,NaN,2016
430,NaN,NaN,2017,NaN,$6.1M,NaN,$374490.0B,6.078385,Vinyl Single,Value,1,2017,6.078385,$374.5B,NaN,2017
431,NaN,NaN,2018,NaN,$5.3M,NaN,$374490.0B,5.290337,Vinyl Single,Value,1,2018,5.290337,$374.5B,NaN,2018
432,NaN,NaN,2019,NaN,$6.8M,NaN,$374490.0B,6.795946,Vinyl Single,Value,1,2019,6.795946,$374.5B,NaN,2019